.curved-section {
  position: relative;
  overflow: hidden;
}

.curved__content {
  position: relative;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.curved__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  object-position: 0% 60%;
}

.curved__imgInde {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
  object-position: 0% 40%;
}
.curved__imgEmp {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
  object-position: 0% 65%;
}

.curved__imgNos {
  width: 100%;
  height: 650px;
  object-fit: cover;
  display: block;
  object-position: 0% 60%;
}
.curved__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.curved__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  padding: 16px 48px;
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  border-radius: calc(var(--radius-lg) + 4px);
  box-shadow: 0 14px 36px rgba(0, 0, 0, 0.14);
  background: var(--color-primary);
  color: var(--text-light);
  border: 2px solid rgba(0, 0, 0, 0.06);
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.curved__text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: var(--color-white);
  text-align: center;
  padding: var(--space-4);
  pointer-events: none;
}

/* RESPONSIVE  BANNERS */

@media (max-width: 768px) {
  .curved-section {
    height: 350px;
    text-align: center;
  }

  .curved__imgInde {
    object-position: center;
  }

  .curved__cta {
    padding: 12px 24px;
    font-size: 14px;
    transform: translate(-50%, -200%);
  }
  .curved__overlay {
    background: rgba(0, 0, 0, 0.55);
  }
  .curved__img,
  .curved__imgInde,
  .curved__imgEmp,
  .curved__imgNos {
    height: 500px;
  }
  .curved__text {
    font-size: clamp(0.95rem, 6.5vw, 1.6rem);
    padding: 0 16px;
    transform: translate(-0%, -15%);
  }
}

@media (max-width: 480px) {
  .curved-section {
    height: 300px;
  }

  .curved__cta {
    padding: 10px 20px;
    font-size: 13px;
    transform: translate(-50%, -300%);
  }

  .curved__img,
  .curved__imgInde,
  .curved__imgEmp,
  .curved__imgNos {
    height: 500px;
  }

  .curved__overlay {
    background: rgba(0, 0, 0, 0.55);
  }

  .curved__text {
    font-size: clamp(0.95rem, 6.5vw, 1.6rem);
    padding: 0 16px;
    transform: translate(-0%, -20%);
  }
}
