<app-header></app-header>

<main role="main">

 <section class="hero hero--left">
  <div class="hero__bg">
    <img src="https://i.pinimg.com/1200x/8f/29/e5/8f29e5f0bb9b0796bdd49fd99a19a2ec.jpg" alt="Banner" class="hero__img">
    <div class="hero__overlay"></div>
  </div>

  <div class="hero__content hero__content--left">
    <h1 class="hero__title">Soluciones de Protección y Bienestar para Todos</h1>

    <div class="hero__actions">
      <a class="btn btn--primary hero__cta" [href]="whatsappLink" target="_blank">SOLICITAR COTIZACIÓN
        <img class="external-icon-btn" src="assets/img/blanco.png" alt="Enlace externo">
      </a>
      <a class="btn btn--primary hero__cta">VER PLANES DISPONIBLES
        <img class="external-icon-btn" src="assets/img/blanco.png" alt="Enlace externo">
      </a>
    </div>
  </div>
</section>


  <section class="section">
    <h2 class="section-title">PLANES PARA TODOS</h2>
    <p class="section-subtitle">Consulta nuestros planes</p>

    <div class="grid grid--auto">
      <article class="plan-card" *ngFor="let plan of plans">
        <h3 class="plan-card__title">{{plan.title}}</h3>
        <ul class="plan-card__list">
          <li class="plan-card__list-item" *ngFor="let item of plan.items">{{item}}</li>
        </ul>
        <a class="btn btn--primary hero__cta" [href]="whatsappLink" target="_blank">Me interesa</a>
      </article>
    </div>
  </section>


</main>

<app-footer></app-footer>
